table{
    width: 100%;
    position: relative;
    border: #707070;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
}
th{
    height:10rem;
    padding: .8rem;
    border-bottom:1px solid #707070;
    font-weight: bold;
    font-size: 18px;
    color: #707070;
    line-height: 22px;
    margin-top: 200px;
}
td{
    padding: .8rem;
    text-align: center;
    border-bottom:1px solid #707070 ;
    font-size: 18px;
    line-height: 30px;
    color: #1D1A1A;
} 
.appLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.appLogo img{
    width: 26px;
    height: 26px;
}