*{
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  background-color: darkcyan;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.bar{
  grid-area: 1 / 1 / 7 / 2;
  max-width: 80px;
  background: #192F48;
  opacity: 1;
}

.header{
  grid-area: 1 / 2 / 2 / 11; 
  background-color: aliceblue;
  max-height: 120px;
}
.header h1{
  padding-top: 1rem;
  text-align: left;
  font: bold 24px/29px Lato;
  letter-spacing: 0px;
  color: #1D1A1A;
}
.settings{
  margin-top: -5rem;
  background-color: orange;
  grid-area: 2 / 2 / 3 / 12; 
  margin-right: 4rem;
  margin-bottom: 7rem;
}
input{
  float: left;
}

button{
  background:#70707038;
  border: 1px solid #70707038;
  border-radius: 4px;
  
  width: 100px;
  height: 30px;
  
  float: right;
  text-align: center;
  font: 18px;
  font-weight: bold;
  letter-spacing: 0.27px;
  color: #1D1A1A;
  padding-bottom: 2px;
}
button:hover{
  cursor: pointer;
}
.settingsIcon{
  rotate: 90deg;
  color: #136FED;
  width: 16px;
  height: 16px;
}
.table{
  margin-top: -5rem;
  grid-area: 3 / 2 / 6 / 11;
  background-color: #e43333;
  margin-right: 4rem;
}

.errorBoundary{
  padding-top: 7rem;
  grid-area: 3 / 2 / 6 / 11;
  background-color: #F9F9F9;
  margin-right: 4rem;
}

.settings{
  display: inline;
  background-color: aquamarine;
  height: 2rem;
  margin-top: 3rem;
}


@media screen and (max-width: 800px){
  table{
    max-width: 85%;
  }
  thead{
    display: none;
  }
  td{
    display: block;
  }
  td:last-child{
    border-bottom: 1px solid #1D1A1A;
  }
  td:nth-child(2){
    background-color: #707070;
  }
  td:nth-child(1)::before{
    content: 'Date';
  }
  td:nth-child(2)::before{
    content: 'App Name';
  }
  td:nth-child(3)::before{
    content: 'Clicks';
  }
  td:nth-child(4)::before{
    content: 'AD Requests';
  }
  td:nth-child(5)::before{
    content: 'AD Response';
  }
  td:nth-child(6)::before{
    content: 'Impression';
  }
  td:nth-child(7)::before{
    content: 'Revenue';
  }
  td:nth-child(8)::before{
    content: 'Fill Rate';
  }
  td:nth-child(9)::before{
    content: 'CTR';
  }
  td{
    text-align: right;
    padding-right: 3rem;
  }
  td::before{
    float: left;
    padding-left: 3rem;
  }
}